/* ==========================
REFLECTION PAGE DESIGN
========================== */


.reflection-hero{


padding-top:170px;

text-align:center;

padding-bottom:60px;


}



.reflection-hero h1{


font-size:3.5rem;


}



.reflection-hero p{


max-width:850px;

margin:auto;

font-size:1.2rem;


}




.reflection-grid{


padding:60px 10%;


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(320px,1fr));


gap:35px;


}




.reflection-card{


background:

rgba(255,255,255,.08);


border-radius:25px;


padding:40px;


backdrop-filter:blur(15px);


transition:.3s;


}



.reflection-card:hover{


transform:translateY(-10px);


box-shadow:

0 0 35px #00d2ff55;


}



.reflection-card h2{


color:#66fcf1;


font-size:1.6rem;


}



.reflection-card p{


line-height:1.8;


}





.reflection-box{


padding:

80px 10%;


text-align:center;


}



.question-card{


max-width:850px;


margin:25px auto;


padding:30px;


background:

rgba(255,255,255,.08);


border-radius:20px;


transition:.3s;


}



.question-card:hover{


background:#00d2ff;


color:black;


}

.journey{

padding:60px 12%;

display:grid;

gap:35px;

}



.journey-card{


background:

rgba(255,255,255,.08);


padding:45px;


border-radius:30px;


border-left:

5px solid #66fcf1;


backdrop-filter:blur(15px);


transition:.4s;


}



.journey-card:hover{


transform:translateX(15px);


box-shadow:

0 0 35px #00d2ff55;


}



.journey-card span{


font-size:3rem;


color:#66fcf1;


font-weight:bold;


}



.journey-card h2{


font-size:2rem;


margin-top:15px;


color:white;


}



.journey-card p{


line-height:1.9;


font-size:1.1rem;


}