.reflection-hero{

padding-top:170px;

text-align:center;

padding-bottom:60px;

}

.reflection-hero h1{

font-size:3.5rem;

}

.reflection-hero p{

max-width:850px;

margin:auto;

font-size:1.2rem;

}

.reflection-grid{

padding:60px 10%;

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(320px,1fr));

gap:35px;

}

.reflection-card{

background:

var(--card);

border:1px solid var(--card-border);

border-radius:25px;

padding:40px;

backdrop-filter:blur(15px);

transition:.3s;

}

.reflection-card:hover{

transform:translateY(-10px);

box-shadow:

0 0 35px var(--accent-shadow);

}

.reflection-card h2{

color:var(--accent);

font-size:1.6rem;

}

.reflection-card p{

line-height:1.8;

}

.reflection-box{

padding:

80px 10%;

text-align:center;

}

.question-card{

max-width:850px;

margin:25px auto;

padding:30px;

background:

var(--card);

border:1px solid var(--card-border);

border-radius:20px;

backdrop-filter:blur(15px);

transition:.3s;

}

.question-card:hover{

background:var(--accent);

color:var(--accent-text);

}

.journey{

padding:60px 12%;

display:grid;

gap:35px;

}

.journey-card{

background:

var(--card);

border:1px solid var(--card-border);

padding:45px;

border-radius:30px;

border-left:

5px solid var(--accent);

backdrop-filter:blur(15px);

transition:.4s;

}

.journey-card:hover{

transform:translateX(15px);

box-shadow:

0 0 35px var(--accent-shadow);

}

.journey-card span{

font-size:3rem;

color:var(--accent);

font-weight:bold;

}

.journey-card h2{

font-size:2rem;

margin-top:15px;

color:var(--text);

}

.journey-card p{

line-height:1.9;

font-size:1.1rem;

}
